In [9]:
%CREATE first_db.db

In [10]:
CREATE TABLE pk 
    (id int,
    Name varchar(40), 
    Type_1 varchar(10), 
    Type_2 varchar(10), 
    HP int,
    Attack int)

In [11]:
insert into pk( id, Name, Type_1, Type_2, HP, Attack)
values (0, 'Bulbasaur', 'Grass', 'Poison', 45,	49),
(1,	'Ivysaur',	'Grass', 'Poison', 60, 62),
(2, 'Venusaur',	'Grass', 'Poison', 80, 82),
(3, 'VenusaurMega', 'Grass', 'Poison', 80, 100),
(4, null, null, null, null, null),
(5, null, null, null, null, null),
(6, null, null, null, null, null),
(7, null, null, null, null, null)

In [12]:
select * from pk

+----+--------------+--------+--------+----+--------+
| id | Name         | Type_1 | Type_2 | HP | Attack |
+----+--------------+--------+--------+----+--------+
| 0  | Bulbasaur    | Grass  | Poison | 45 | 49     |
+----+--------------+--------+--------+----+--------+
| 1  | Ivysaur      | Grass  | Poison | 60 | 62     |
+----+--------------+--------+--------+----+--------+
| 2  | Venusaur     | Grass  | Poison | 80 | 82     |
+----+--------------+--------+--------+----+--------+
| 3  | VenusaurMega | Grass  | Poison | 80 | 100    |
+----+--------------+--------+--------+----+--------+
| 4  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+
| 5  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+
| 6  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+
| 7  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+

In [13]:
update pk 
set Name = 'Charizard',	
    Type_1 = 'Fire', 	
    Type_2 = 'Flying',	
    HP = 78,	
    Attack = 84
where id = 4

In [14]:
select * from pk

+----+--------------+--------+--------+----+--------+
| id | Name         | Type_1 | Type_2 | HP | Attack |
+----+--------------+--------+--------+----+--------+
| 0  | Bulbasaur    | Grass  | Poison | 45 | 49     |
+----+--------------+--------+--------+----+--------+
| 1  | Ivysaur      | Grass  | Poison | 60 | 62     |
+----+--------------+--------+--------+----+--------+
| 2  | Venusaur     | Grass  | Poison | 80 | 82     |
+----+--------------+--------+--------+----+--------+
| 3  | VenusaurMega | Grass  | Poison | 80 | 100    |
+----+--------------+--------+--------+----+--------+
| 4  | Charizard    | Fire   | Flying | 78 | 84     |
+----+--------------+--------+--------+----+--------+
| 5  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+
| 6  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+
| 7  |              |        |        |    |        |
+----+--------------+--------+--------+----+--------+