In [2]:
%CREATE scenario.db

In [3]:
create table scenario (
    scenario_id int,
    created_at date,
    name varchar(40)
)

In [4]:
insert into scenario
values 
    (0,'2022-01-01', 'balance_inbot'), 
    (1,'2022-01-02', 'application_new_inbot')

In [5]:
select * from scenario

+-------------+------------+-----------------------+
| scenario_id | created_at | name                  |
+-------------+------------+-----------------------+
| 0           | 2022-01-01 | balance_inbot         |
+-------------+------------+-----------------------+
| 1           | 2022-01-02 | application_new_inbot |
+-------------+------------+-----------------------+

In [6]:
create table scenario_run (
    scenario_run_id int,
    scenario_id int,
    created_at date,
    tcrm_id int
)

In [7]:
insert into scenario_run
values 
    (1, 0, '2023-04-01', 0), 
    (2, 1, '2023-04-01', 1), 
    (3, 1, '2023-04-01', 1), 
    (4, 1, '2023-04-02', 1),
    (5, 0, '2023-04-01', 0),
    (6, 0, '2023-04-02', 0),
    (7, 0, '2023-04-02', 0),
    (8, 0, '2023-04-02', 0),
    (9, 1, '2023-04-02', 1)

In [8]:
select * from scenario_run

+-----------------+-------------+------------+---------+
| scenario_run_id | scenario_id | created_at | tcrm_id |
+-----------------+-------------+------------+---------+
| 1               | 0           | 2023-04-01 | 0       |
+-----------------+-------------+------------+---------+
| 2               | 1           | 2023-04-01 | 1       |
+-----------------+-------------+------------+---------+
| 3               | 1           | 2023-04-01 | 1       |
+-----------------+-------------+------------+---------+
| 4               | 1           | 2023-04-02 | 1       |
+-----------------+-------------+------------+---------+
| 5               | 0           | 2023-04-01 | 0       |
+-----------------+-------------+------------+---------+
| 6               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 7               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 8               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 9               | 1           | 2023-04-02 | 1       |
+-----------------+-------------+------------+---------+

In [21]:
select 
    sr.created_at,
    s.name,
    count(sr.scenario_id),
    SUM(count(sr.scenario_id)) OVER (ORDER BY sr.created_at) AS cumulative_call_count
from scenario s
    join scenario_run sr
    on s.scenario_id = sr.scenario_id
group by 
    s.name, 
    sr.created_at
order by
    s.name, 
    sr.created_at

+------------+-----------------------+-----------------------+-----------------------+
| created_at | name                  | count(sr.scenario_id) | cumulative_call_count |
+------------+-----------------------+-----------------------+-----------------------+
| 2023-04-01 | application_new_inbot | 2                     | 4                     |
+------------+-----------------------+-----------------------+-----------------------+
| 2023-04-02 | application_new_inbot | 2                     | 9                     |
+------------+-----------------------+-----------------------+-----------------------+
| 2023-04-01 | balance_inbot         | 2                     | 4                     |
+------------+-----------------------+-----------------------+-----------------------+
| 2023-04-02 | balance_inbot         | 3                     | 9                     |
+------------+-----------------------+-----------------------+-----------------------+