In [1]:
%CREATE scenario.db

In [2]:
create table scenario (
    scenario_id int,
    created_at date,
    name varchar(40)
)

In [3]:
insert into scenario
values 
    (0,'2023-04-01', 'balance_inbot'), 
    (1,'2023-04-02', 'balance_inbot'), 
    (2,'2023-04-03', 'balance_inbot'), 
    (3,'2023-04-04', 'balance_inbot'),
    (4,'2023-04-01', 'application_new_inbot'), 
    (5,'2023-04-02', 'application_new_inbot'), 
    (6,'2023-04-03', 'application_new_inbot'), 
    (7,'2023-04-04', 'application_new_inbot')

In [4]:
select * from scenario

+-------------+------------+-----------------------+
| scenario_id | created_at | name                  |
+-------------+------------+-----------------------+
| 0           | 2023-04-01 | balance_inbot         |
+-------------+------------+-----------------------+
| 1           | 2023-04-02 | balance_inbot         |
+-------------+------------+-----------------------+
| 2           | 2023-04-03 | balance_inbot         |
+-------------+------------+-----------------------+
| 3           | 2023-04-04 | balance_inbot         |
+-------------+------------+-----------------------+
| 4           | 2023-04-01 | application_new_inbot |
+-------------+------------+-----------------------+
| 5           | 2023-04-02 | application_new_inbot |
+-------------+------------+-----------------------+
| 6           | 2023-04-03 | application_new_inbot |
+-------------+------------+-----------------------+
| 7           | 2023-04-04 | application_new_inbot |
+-------------+------------+-----------------------+

In [9]:
create table scenario_run (
    scenario_run_id int,
    scenario_id int,
    created_at date,
    tcrm_id int
)

In [ ]:
insert into scenario_run
values 
    (), 
    (), 
    (), 
    ()