In [9]:
%CREATE scenario.db

In [10]:
create table scenario (
    scenario_id int,
    created_at date,
    name varchar(40)
)

In [11]:
insert into scenario
values 
    (0,'2022-01-01', 'balance_inbot'), 
    (1,'2022-01-02', 'application_new_inbot')

In [12]:
select * from scenario

+-------------+------------+-----------------------+
| scenario_id | created_at | name                  |
+-------------+------------+-----------------------+
| 0           | 2022-01-01 | balance_inbot         |
+-------------+------------+-----------------------+
| 1           | 2022-01-02 | application_new_inbot |
+-------------+------------+-----------------------+

In [13]:
create table scenario_run (
    scenario_run_id int,
    scenario_id int,
    created_at date,
    tcrm_id int
)

In [17]:
insert into scenario_run
values 
    (1, 0, '2023-04-01', 0), 
    (2, 1, '2023-04-01', 1), 
    (3, 1, '2023-04-01', 1), 
    (4, 1, '2023-04-02', 1),
    (5, 0, '2023-04-01', 0),
    (6, 0, '2023-04-02', 0),
    (7, 0, '2023-04-02', 0),
    (8, 0, '2023-04-02', 0),
    (9, 1, '2023-04-02', 1)

In [18]:
select * from scenario_run

+-----------------+-------------+------------+---------+
| scenario_run_id | scenario_id | created_at | tcrm_id |
+-----------------+-------------+------------+---------+
| 1               | 0           | 2023-04-01 | 0       |
+-----------------+-------------+------------+---------+
| 2               | 1           | 2023-04-01 | 1       |
+-----------------+-------------+------------+---------+
| 3               | 1           | 2023-04-01 | 1       |
+-----------------+-------------+------------+---------+
| 4               | 1           | 2023-04-02 | 1       |
+-----------------+-------------+------------+---------+
| 5               | 0           | 2023-04-01 | 0       |
+-----------------+-------------+------------+---------+
| 6               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 7               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 8               | 0           | 2023-04-02 | 0       |
+-----------------+-------------+------------+---------+
| 9               | 1           | 2023-04-02 | 1       |
+-----------------+-------------+------------+---------+

In [20]:
select scenario_run.created_at, scenario.name
from scenario join scenario_run on scenario.scenario_id = scenario_run.scenario_id

+------------+-----------------------+
| created_at | name                  |
+------------+-----------------------+
| 2023-04-01 | balance_inbot         |
+------------+-----------------------+
| 2023-04-01 | balance_inbot         |
+------------+-----------------------+
| 2023-04-02 | balance_inbot         |
+------------+-----------------------+
| 2023-04-02 | balance_inbot         |
+------------+-----------------------+
| 2023-04-02 | balance_inbot         |
+------------+-----------------------+
| 2023-04-01 | application_new_inbot |
+------------+-----------------------+
| 2023-04-01 | application_new_inbot |
+------------+-----------------------+
| 2023-04-02 | application_new_inbot |
+------------+-----------------------+
| 2023-04-02 | application_new_inbot |
+------------+-----------------------+